.form-group{
  padding: 10px;
  .step-header{
    margin: 0;
  }
  .step-content{
    margin-top: 40px;
    .bold{
      font-weight: 600;
    }
    input[name="widgetName"] {
      width: 50%;
    }
    .interval-timerange{
      padding: 10px 10px;
      margin-top: 20px;
      border: 1px solid #cecece;
      input[name="periodNum"]{
        width: 10%;
        border-radius: 0;
      }
      select[name="periodUnit"]{
        width: 20%;
      }
      .period{
        display: flex;
        column-gap: 10px;
      }
    }
    .pattern{
      background: #e3e3e3;
      border-right: 2px solid #222a425c;
      border-left: 2px solid #222a425c;
      border-bottom: 2px solid #222a425c;
      input{
        background: white;
      }
      .flex-3{
        display: flex;
        width: 100%;
        .item{
          flex-grow: 1;
          padding: 15px 34px;
          row-gap: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &:first-child{
            border-right: 2px solid #222a425c;
          }
          &:last-child{
            border-left: 2px solid #222a425c;
          }
        }
      }
      .warning-setting{
        border-top: 2px solid #222a425c;
        padding: 10px 0;
      }
      .yLabel{
        padding: 10px;
      }
    }
  }
}

.widgets{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
    .card-icon{
        width: 130px;
        height: 130px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        justify-content: space-evenly;
        .card-img-top{
            width: 50%;
        }
        &:hover{
            background: #e3e3e3;
        }
    }
    .active{
        background: #e3e3e3;
    }
}
.card-param{
    display: flex;
    margin: 10px 0 0;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #222a425c;
    padding: 2px 15px 2px 37px;
    .param-name{
        font-size: 16px;
        min-width: 200px;
        font-weight: 700;
    }
    .var{
        color: red;
    }
    .kpi{
        color: rgb(17, 139, 72);
    }
    i{
        cursor: pointer;
    }
}

.dropdown{
  .pick-color{
    background: white !important;
    margin: 0 !important;
    &:hover{
      background: white !important;
    }
    &:focus{
      background: white !important;
    }
  }
  button.dropdown-toggle{
    background: #e3e3e3;
    color: black;
    border: 1px solid #e3e3e3;
    padding: 5px 20px;
    border-radius: 5px;
    &:hover{
      background: #e3e3e3 !important;
      color: black !important;
    }
  }
}

.dropdown-toggle{
    display: flex;
    .circle-color{
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    &::after{
      display: none;
    }
}

.row{
    margin: 0;
    .progress{
      margin: 2px 60px 20px 60px;
      width: 90%;
      height: 26px;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid black;
      .progress-bar{
        border-right: 1px solid black;
        &:last-child{
          border-right: none;
        }
      }
    }
    .limit_values{
      display: flex;
      width: 100%;
      margin: 0 107px;
      justify-content: space-evenly;
    }
    .input_limit_value{
      display: flex;
      flex-direction: column;
      align-items: center;
      div{
        font-size: 10px;
      }
      input{
        width: 60px !important;
        margin: 0;
      }
    }
    .email_button{
      display: flex;
      align-items: center;
      input{
        margin: 0 5px;
        padding: 5px;
        height: 24px;
      }
      input[type="checkbox"]{
        margin: 0 5px;
        padding: 5px;
        height: 24px;
        width: auto !important;
      }
    }
}

.slide-button {
  position: relative;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slide-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.slide-button:hover:before {
  left: 0;
}

.slide-button:hover {
  background-color: #3e8e41;
}